In [34]:
#Charger les biblio
import numpy as np
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
import numpy as np
import string
from subprocess import check_output
import seaborn as sns
from pylab import *
%matplotlib inline
sns.set()

In [35]:
# table isidor
df = pd.read_csv("table3.csv",header=None, sep = ';')

In [37]:
df.head()

         0
0  MM713.I
1  MM713.J
2  MM713.N
3  MM713.O
4      M7P

In [9]:
# table 6min contient la moyenne de Q et vitesse de chaque station
df1 = pd.read_csv("tab_a16.csv", sep = ';')

In [40]:
# renommer la colonne 
df.columns = ['Code']

In [38]:
df1.head()

             Q    Vitesse Code
0  1246.477227  89.581426  M1A
1  1519.982893  90.312153  M1B
2  2676.277050  91.922462  M1C
3  2585.280382  94.395023  M1D
4     0.000000   0.000000  M1E

In [71]:
# L'intersection 
inter = pd.merge(df, df1, on='Code')

In [75]:
#puis l'union
result4 = pd.merge(df, inter, how = 'outer')

In [76]:
result4

        Code            Q    Vitesse
0    MM713.I          NaN        NaN
1    MM713.J          NaN        NaN
2    MM713.N          NaN        NaN
3    MM713.O          NaN        NaN
4        M7P   810.021783  37.235608
5        M7Q   618.048011  28.069571
6    MM713.R          NaN        NaN
7        M7S  2010.815070  97.251389
8        M7T  1537.898866  86.717715
9    MM713.U          NaN        NaN
10       M7V     0.000000   0.000000
11       M8A  2369.630140  70.733941
12       M8B  1436.970660  57.754168
13       M8C     0.000000   0.000000
14       m8D   622.982214  23.016007
15       M8D  2049.324517  65.356968
16       M8E  3058.367637  79.181374
17       M8F  1876.569015  59.858858
18       M8G  2754.174039  88.261836
19       M8H   877.390976  38.556790
20       M8I  2546.943765  81.535008
21       M8J   547.131585  18.980440
22       M8K   840.366081  67.990665
23       M8N  1423.663481  69.034008
24       M8O    77.611469  47.674817
25       M8P     0.000000   0.000000
26       M8Q     0.000000   0.000000
27       M8R     0.000000   0.000000
28       M8S     0.000000   0.000000
29   MM713.i          NaN        NaN
..       ...          ...        ...
207  MMG30.X          NaN        NaN
208      MPH          NaN        NaN
209      MPA          NaN        NaN
210  MMP13.A          NaN        NaN
211  MMB13.H          NaN        NaN
212  MMB13.S          NaN        NaN
213  MMG30.H          NaN        NaN
214  MMG30.K          NaN        NaN
215  MMG30.L          NaN        NaN
216  MMT34.S          NaN        NaN
217  MMT34.T          NaN        NaN
218  MMT34.U          NaN        NaN
219      MBS          NaN        NaN
220  MMW84.H          NaN        NaN
221  MME04.O          NaN        NaN
222  MME04.P          NaN        NaN
223  MME04.E          NaN        NaN
224  MMB13.M          NaN        NaN
225  MMP13.B          NaN        NaN
226  MMP13.B          NaN        NaN
227  MMB13.G          NaN        NaN
228  MMP13.F          NaN        NaN
229  MMP13.F          NaN        NaN
230  MMB13.O          NaN        NaN
231      MPF          NaN        NaN
232      MPG          NaN        NaN
233  MMB13.T          NaN        NaN
234  MMG30.U          NaN        NaN
235  MMG30.I          NaN        NaN
236  MMG84.1          NaN        NaN

[237 rows x 3 columns]

In [77]:
len(result4) == len(df)

True

In [79]:
# Exporter la table
result4.to_csv('inter.csv', index = False, encoding = 'utf-8')